**/node_modules
**/.env*
!**/.env.template
**/upload/*
!**/upload/default*.svg
**/ipLog.txt
**/dev.db
node_modules
# Keep environment variables out of version control
**/files
**/temp
**/upload